/* CSS FOR SHOP */
.woo-shop .star-rating {
	margin:auto !important;
	padding-bottom:25px !important;
}
.woo-shop .wc-block-grid__product-onsale span[aria-hidden="true"] {
	color: black !important;
}

.ast-plain-container.ast-no-sidebar .entry-content > .alignfull, 
.ast-page-builder-template .ast-no-sidebar .entry-content > .alignfull {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	max-width: 100vw;
	width: 100vw;
}

.entry-content[ast-blocks-layout] .alignfull {
	max-width: none;
}